<div id="inventory_item_<%= inventory_item.id %>">
  <p><strong>Name:</strong> <%= inventory_item.name %></p>
  <p><strong>Quantity:</strong> <%= inventory_item.quantity %></p>
  <p><strong>Location:</strong> <%= inventory_item.location %></p>
  <%= link_to 'Edit', edit_inventory_item_path(inventory_item), data: { turbo_frame: "_top" } %>
</div>